@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  /* Colors Primary */
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);

  /* Colors Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */
  --font-size-paragraph: 16px;

  /* Fony Family */
  --font-young: "Young Serif", serif;
  --font-outfit: "Outfit", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-eggshell);
}

p{
  font-size: var(--font-size-paragraph);
}

ul{
  list-style-type: none;
  font-family: var(--font-outfit);
}

ul li {
  position: relative;
}

ul li::before {
  content: "•";
  margin-right: 20px;
  font-size: 20px;
  color: var(--color-nutmeg);
}

hr{
  height: 2px;
  margin: 25px 0;
  border: none;
  border-bottom: 2px solid var(--color-light-grey);
}

.title{
  font-size: 2.2rem;
  font-family: var(--font-young);
  color: var(--color-nutmeg);
}




/* RESPONSIVE */
@media (width < 700px){
  .main{
    padding: 0 30px;
  }
}